form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    & > * {
        flex: 0 0 100%;
    }

    input, 
    textarea {
        background: none;
        border: 2px solid black;
        font-family: $fontFamily-default;
        font-size: rem(20px);
        font-weight: 400;
        padding: 25px 50px;
        border-radius: 50px;
        width: 100%;
        color: black;

        &::placeholder {
            color: black;
        }
    }

    input[type='checkbox'] {
        width: auto;
    }
}
