.formations {

    &__content {
        padding: 50px 0;

        @include media-breakpoint-down(md) {
            padding: 30px 0;
        }
    }

    &__card {
        padding: 30px;
        margin-bottom: 25px;
        display: flex;
        background-color: #424657;
        border-radius: 4px;

        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &__img {
            flex: 0 0 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-right: 30px;

            @include media-breakpoint-down(xxl) {
                flex: 0 0 45%;
            }
            @include media-breakpoint-down(lg) {
                flex: 0 0 30%;
            }
            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                padding-right: 0;
                margin-bottom: 35px;
            }

            img {
                width: 40%;
                height: auto;

                @include media-breakpoint-down(lg) {
                    width: 90%;
                }
                @include media-breakpoint-down(md) {
                    width: 70%;
                }
            }

            &__title {
                flex: 0 0 100%;
                text-align: center;
                font-weight: 400;
            }
        }

        &__content {
            flex: 0 0 50%;
            padding-left: 30px;

            @include media-breakpoint-down(xxl) {
                flex: 0 0 55%;
            }
            @include media-breakpoint-down(lg) {
                flex: 0 0 70%;
            }
            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                padding-left: 0;
            }
        }

        &__item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            .date {
                flex: 0 0 50px;
                line-height: rem(22px);
                font-weight: 600;
            }
            .txt {
                flex: 0 1 100%;
                line-height: rem(22px);
                font-weight: 600;
                
                span {
                    font-size: rem(14px);
                    line-height: rem(16px);
                    color: $color-1;
                    margin-top: 8px;
                    display: inline-block;
                    font-weight: 400;
                }
            }
        }

        &--highschool {
            .formations__card__img {
                img {
                    max-width: 90px;
                }
            }
            .formations__card__content {
                display: flex;
                align-items: center;
            }
            .formations__card__item {
                flex-wrap: wrap;

                .date {
                    flex: 0 0 100%;
                    font-weight: 400;
                    font-size: rem(16px);
                    margin-bottom: 5px;
                }
            }
        }
    }

}