.introduction {
    background-image: url('~/src/assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    height: 100vh;
    display: flex;

    &:after {
        content: "";
        height: 100%;
        background-image: url('../../assets/img/sg__logo--white.svg');
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 60px;
        position: absolute;
        top: -20px;
        left: 0;
        right: 20px;
        bottom: 0;
    }

    & > .container {
        display: flex;
        position: relative;

        &:before {
            content:"";
            height: 100%;
            background:rgba(0,0,0,0.5);
            position: absolute;
            top: 10%;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            height: 90%;
        }
    } 

    &__content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }

    &__subtitle {
        font-size: $fontSize-default;
        line-height: rem(24px);
        margin: 0;
        margin-top: 30px;
    }

    .socialNetworks {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;

        &__item {

            &__link {
                color: $color-white;
                font-size: rem(28px);

                &:hover,
                &:focus {
                    color: $color-1;
                }
            }
        }
    }

    .qualityList {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        
        &__item {
            padding-right: 10px;
            
            &:last-child {
                padding-right: 0;
            }
        }
    }
}