.services {
    // & > .container {

    // }
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }
    &__title {
        flex: 0 0 100%;
    }
    &__card {
        border: 4px solid $border-card;
        flex: 0 1 48.5%;
        padding: 30px;
        background-color: $color-black;

        &--big {
            border: 10px solid $border-card;
            flex: 0 0 100%;
            .services__card__item {
                max-width: 80px;
            }
        }

        &__content {
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
        }

        &__item {
            width: 100%;
            min-width: 0;
            flex: 1;
            position: relative;
            cursor: pointer;
            display: flex;
            justify-content: center;
            max-width: 48px;

            .name {
                display: none;
                border: 4px solid $border-card;
                padding: 3px 8px;
                text-align: center;
                background-color: $color-black;
                position: absolute;
                top: -60px;
                white-space: nowrap;
                width: auto;

                &::after {
                    content: '';
                    display: block;
                    background: $color-black;
                    z-index: 9;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    bottom: -10px;
                    margin-left: 50%;
                    transform: translateX(-100%) rotate(45deg);
                    border: solid $color-1;
                    border-width: 0 4px 4px 0;
                    // padding: 4px;
                    z-index: 1;
                }
            }
            &:hover .name {
                display: block;
            }
        }

        &__title {
            text-align: center;
            font-size: rem(18px);
            line-height: rem(20px);
            margin-bottom: 0;
        }
    }
}