.uppercase {
    text-transform: uppercase;
}
.txt-colored {
    color: $color-1;
}
.dot {
    position: relative;
    &:after {
        content:"";
        display: block;
        width: 8px;
        height: 8px;
        background-color: $color-1;
        position: absolute;
        right: -15px;
        bottom: 8px;
        border-radius: 50%;
    }
}
.button {
    border: 4px solid $color-white;
    color: $color-white;
    font-size: rem(18px);
    line-height: rem(20px);
    text-align: center;
    padding: 10px 20px;
    display: block;
    transition: background-color 300ms ease-in-out;
    text-decoration: none;

    &:hover, &:focus {
        background-color: $color-white;
        color: $color-4;
    }
}