.uppercase {
    text-transform: uppercase;
}
.txt-colored {
    color: $color-1;
}
.dot {
    position: relative;
    &:after {
        content:"";
        display: block;
        width: 10px;
        height: 10px;
        background-color: $color-1;
        position: absolute;
        right: -15px;
        bottom: 5px;
        border-radius: 50%;
    }
}