//COLORS PALETTE
$color-black: #000;
$color-white: #fff;
$color-1: #FFC25C;
$color-2: #F7F5E8;
$color-3: #2B2A30;
$color-4: #333646;

//BACKGROUND
$background-body: $color-3;
$background-sections: $color-4;

//BORDERS
$border-card: $color-1;

//COLORS
$color-title-default: $color-2;
$color-text-default: $color-2;
$color-link-default: $color-black;

//FONT-FAMILY
$fontFamily-default: 'Open Sans', sans-serif;

//FONT-SIZE
$fontSize-default: rem(18px);
$lineHeight-default: rem(30px);