//COLORS PALETTE
$color-black: #000;
$color-white: #fff;
$color-1: #FFC25C;
$color-2: #F7F5E8;
$color-3: #2B2A30;
$color-4: #333646;

//BACKGROUND
$background-body: $color-3;
$background-sections: $color-4;

//BORDERS
$border-card: $color-1;

//COLORS
$color-title-default: $color-2;
$color-text-default: $color-2;
$color-link-default: $color-2;

//FONT-FAMILY
$fontFamily-default: 'Open Sans', sans-serif;

//CONTAINER
$container-padding-lr--xxs: 15px;
$container-padding-lr--xs: 15px;
$container-padding-lr--sm: 30px;
$container-padding-lr--md: 30px;
$container-padding-lr--lg: 40px;
$container-padding-lr--xl: 40px;
$container-padding-lr--xxl: 40px;