.header {
    position: absolute;
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    top: 15%;

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    right: calc(var(--bs-gutter-x) * 0.5);
    left: calc(var(--bs-gutter-x) * 0.5);
    max-width: 1320px;

    @include media-breakpoint-down(xxl) {
        max-width: 1140px;
    }
    @include media-breakpoint-down(xl) {
        max-width: 960px;
    }
    @include media-breakpoint-down(lg) {
        max-width: 720px;
    }
    @include media-breakpoint-down(md) {
        display: none;
    }
}