h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $fontFamily-default;
    color: $color-title-default;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, .h1{
    font-size: rem(70px);
    line-height: rem(72px);
    font-weight: 600;
}
h2, .h2 {
    font-size: 35px;
    line-height: rem(37px);
    font-weight: 600;
    margin-bottom: 40px;
}
// h3, .h3 {
//     font-size: 35px;
//     line-height: rem(37px);
//     font-weight: 400;
// }
// h4, .h4 {
//     font-size: 32px;
//     line-height: rem(34px);
//     font-weight: 400;
// }
// h5, .h5 {
//     font-size: rem(24px);
//     line-height: rem(26px);
//     font-weight: 400;
// }
// h6, .h6 {
//     font-size: rem(20px);
//     line-height: rem(22px);
//     font-weight: 500;
// }

a {
    font-size: rem(20px);
    font-weight: 400;
    text-decoration: none;
    color: $color-link-default;

    &:hover {
        text-decoration: none;
        color: $color-1;
    }
}

p, div {
    font-size: $fontSize-default;
    line-height: $lineHeight-default;
}